/* KYCRegistration.css */

.kyc-form-container {
    background-color: aliceblue;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 80%; /* Adjust the width as needed */
    margin:auto;
    margin-top:-20px;
    margin-bottom: 15px;
     /* Center the container horizontally */
  }
  
  .kyc-form-container h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .kyc-form-container form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .kyc-form-container form .form-group {
    margin-bottom: 20px;
  }
  
  .kyc-form-container form .btn-primary {
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .kyc-form-container form .btn-primary:hover {
    background-color: #007bff;
  }
  
  .kyc-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .kyc-loading .spinner-border {
    width: 3rem;
    height: 3rem;
  }
  
  .kyc-success {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #4caf50;
    font-weight: bold;
    text-align: center;
  }
  